#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
	tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

# Shortcut to create a public key
function set_ssh_authkey() {
	pubkey | ssh "$@" 'cat >> .ssh/authorized_keys'
}

# Install python package globally when using pyenv
gpip(){
    PIP_REQUIRE_VIRTUALENV="" pip "$@"
}
